<a href="https://colab.research.google.com/github/guggio/bitcoin_dca_analysis/blob/main/bitcoin_dca.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/guggio/bitcoin_dca_analysis.git

fatal: destination path 'bitcoin_dca_analysis' already exists and is not an empty directory.

In [2]:
import pandas as pd
import datetime as dt

In [3]:
data = pd.read_csv('bitcoin_dca_2021_analysis/btc-usd-max.csv')
data['snapped_at'] = pd.to_datetime(data['snapped_at'])

data_from_2018 = data[data['snapped_at'].dt.year >= 2018]

In [4]:
data_from_2018.head()

                    snapped_at         price    market_cap  total_volume
1707 2018-01-01 00:00:00+00:00  14093.606831  2.364403e+11  2.345479e+09
1708 2018-01-02 00:00:00+00:00  15321.932852  2.570796e+11  4.130218e+09
1709 2018-01-03 00:00:00+00:00  15583.885538  2.615052e+11  3.310356e+09
1710 2018-01-04 00:00:00+00:00  15976.365194  2.681247e+11  4.217387e+09
1711 2018-01-05 00:00:00+00:00  18336.922980  3.077740e+11  6.275688e+09

In [5]:
data_from_2018_monday = data_from_2018[data['snapped_at'].dt.weekday == 0]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [6]:
data_from_2018_monday['bought_bitcoin'] = 50 / data_from_2018_monday['price']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [7]:
data_from_2018_monday.head()

                    snapped_at         price  ...  total_volume  bought_bitcoin
1707 2018-01-01 00:00:00+00:00  14093.606831  ...  2.345479e+09        0.003548
1714 2018-01-08 00:00:00+00:00  15900.365022  ...  5.752981e+09        0.003145
1721 2018-01-15 00:00:00+00:00  14411.997707  ...  3.222958e+09        0.003469
1728 2018-01-22 00:00:00+00:00  10991.595013  ...  5.012581e+09        0.004549
1735 2018-01-29 00:00:00+00:00  11157.663888  ...  2.345236e+09        0.004481

[5 rows x 5 columns]

In [8]:
total_bitcoin_bought = data_from_2018_monday['bought_bitcoin'].sum()

In [9]:
total_bitcoin_bought

1.1191325788789661

In [10]:
invested_money = 50 * len(data_from_2018_monday.index)

In [11]:
invested_money

10400

In [12]:
average_price = invested_money / total_bitcoin_bought

In [13]:
average_price

9292.911489019172

In [14]:
last_price = data_from_2018.tail(1)['price']

In [15]:
last_price

3159    48755.895644
Name: price, dtype: float64

In [16]:
bought_bitcoin_value = last_price * total_bitcoin_bought

In [17]:
bought_bitcoin_value

3159    54564.311228
Name: price, dtype: float64